In [2]:
from basketball_reference_scraper.seasons import get_schedule
from basketball_reference_scraper.box_scores import get_box_scores
import pandas as pd
from math import isnan
from tqdm.notebook import tqdm, trange
import matplotlib.pyplot as plt
from utils import set_size, name_swap, MAIN, OTHER, BACKGROUND, all_team_ids

In [3]:
def num_triple_doubles(team='UTA', season_range=(1980,2022)):
    ''' num_triple_doubles
    params:
     team
     - str, three character team identifier (Utah Jazz = 'UTA')
     season_range
     - tuple of ints, range of seasons (inclusive, 1980 is as far back as it goes)
    returns:
     FIXME
    '''
    st, en = season_range
    num_trip_dub = 0
    missing = []
    for season in trange(st, en+1):
        print('Season: '+str(season))
        s = get_schedule(season, playoffs=False)
        t = s[(s.VISITOR == name_swap[team]) | (s.HOME == name_swap[team])]
        for r in trange(len(t)):
            d = str(t.iloc[r]['DATE'])[:10]
            home = t.iloc[r]['HOME']
            visitor = t.iloc[r]['VISITOR']
            h = name_swap[home]
            v = name_swap[visitor]
            try:
                b = get_box_scores(d, v, h, period='GAME', stat_type='BASIC')[team]
                # check triple doubles
                for i, row in b.iterrows():
                    if sum([int(row['TRB'])>9, 
                            int(row['AST'])>9, 
                            int(row['STL'])>9, 
                            int(row['BLK'])>9, 
                            int(row['PTS'])>9]) > 2: 
                        if row['PLAYER'] != 'Team Totals':
                            num_trip_dub += 1
                    # DELETEME
                    print(type(row['3P%']))
                    if not type(row['3P%']) == float: print(row['3P%'])
            except BaseException:
                missing.append((d, h, v))
    return num_trip_double

In [ ]:
ntd_uta = num_triple_doubles(team='UTA', season_range=(2008, 2022))
ntd_uta

  0%|          | 0/15 [00:00<?, ?it/s]

Season: 2008

  0%|          | 0/82 [00:00<?, ?it/s]

<class 'float'>
<class 'float'>
<class 'str'>
.750
<class 'float'>
<class 'str'>
.000
<class 'float'>
<class 'str'>
.500
<class 'str'>
.000
<class 'str'>
.000
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
.455
<class 'str'>
.000
<class 'float'>
<class 'float'>
<class 'str'>
.500
<class 'str'>
.000
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
.000
<class 'str'>
.000
<class 'float'>